body {
    padding: 0px;
    margin: 0px;}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}
.user-photos{
    height : 150px;
    width : 100px;
}
nav li a {
    padding: 15px 15px; 
}

.loginform{
    margin: 20% 20% 20% 20%;
}

.invalid{
    color: RED;
}

.content{
    background-color: white; 
}
.panel{
    margin-bottom: 230px;
}
.myrow{
    margin-right: 0px !important ; 
    margin-left: -7px !important ; 

}