body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.user-photos{
    height : 150 px;
    width : 100 px;
}
nav li a {
      padding: 15px 15px; 
}

.loginform{
    margin: 20% 20% 20% 20%;
}